#Dataset
DATASET_PATH=

#OPENAI
OPENAI_API_KEY=
OPENAI_BASE_URL=

#QDRANT
QDRANT_URL=
QDRANT_API_KEY=
QDRANT_COLLECTION_NAME=

#LangFuse
LANGFUSE_PUBLIC_KEY=
LANGFUSE_SECRET_KEY=
LANGFUSE_BASE_URL=

SUPABASE_URL=
SUPABASE_PUBLIC_KEY=

#HuggingFace
HF_TOKEN=

# Databse
DB_TYPE=SQLITE # SQLITE || SUPABASE
DB_SQLITE_PATH=./data/resume.sqlite
DB_TABLE_NAME=resumes

# Seeding Data
BATCH_SIZE=100
MAX_ATTEMPTS=3
RETRY_DELAY=2
HISTORY_CONTEXT_LENGTH=5
